* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background-color: #000;
    background-size: cover;
    background-position: center;
}

li {
    list-style: none;
}

a {
    text-decoration:none;
    font-family: 'Gabarito', cursive;
    color: #fff;
    font-size: 1.25rem;
    font-weight: bold;
}

a:hover {
    color: orange;
}

header {
    position: relative;
    padding: 0 2rem;
}

/* Style for the navbar */
.navbar {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 60px;
    position: relative;
}

.logo {
    width: 120px;
    height: 60px;
}

.logo-hidden {
    display: none;
}

.links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links ul li {
    margin-right: 20px;
}

.links a {
    text-decoration: none;
    font-family: 'Gabarito', cursive;
    color: #fff;
    font-size: 1.25rem;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.links a:hover {
    color: orange;
}


.links.open {
    display: block;
    opacity: 1;
    pointer-events: auto;
}

.toggle_btn {
    color: #fff;
    font-family: 'Gabarito', cursive;
    font-size: 1.5rem;
    cursor: pointer;
}

.navbar .toggle_btn{
    color: #fff;
    font-family: 'Gabarito', cursive;
    font-size: 1.5rem;
    cursor: pointer;
    position:absolute;
    display: none;
}

.navbar.open {
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.dropdown_menu {
    display: none;
    overflow: hidden;
    height: 0;
    transition: height 0.3s ease-in-out;
    position: absolute;
    width: 100%;
    top: 100%;
}

.icon {
    color: #fff;
    font-family: 'Gabarito', cursive;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.navbar.open .dropdown_menu {
    display: block;
    height: auto;
}

.navbar.open .dropdown_menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar.open .logo-container {
    display: none;
}

.dropdown_menu ul {
    list-style: none;
    text-align: center;
    padding-top: 10px;
}

.dropdown_menu ul li {
    padding: 0.7rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .toggle_btn {
    color: #fff;
    font-family: 'Gabarito', cursive;
    font-size: 1.5rem;
    cursor: pointer;
    display: block; /* Display the hamburger icon as a block */
    margin-bottom: 10px; /* Add some space below the hamburger icon */
}

img {
    max-width:85%;
    max-height:85%;
    position:absolute;
    top:0; left:0; right:0; bottom:0;
    margin:auto;
}


/* Style for the Menu */
.menu {
    background-color: #f8f8f8;
    padding: 60px 0;
    text-align: center;
}

.menu .section-title h2 {
    font-family: 'Gabarito', cursive;
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

#menu-flters {
    padding: 0;
    margin: 0 0 35px 0;
    list-style: none;
    text-align: center;
}

#menu-flters li {
    cursor: pointer;
    margin: 15px 20px 15px 0;
    display: inline-block;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50px;
    background: #FFA500;
    color: #fff;
    transition: 0.3s;
}

#menu-flters li.filter-active, #menu-flters li:hover {
    background: #333;
    color: #fff;
}

.menu-container {
    position: relative;
}

.menu-item {
    background-color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    margin: 0 0 15px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    padding-left: 150px;
    width: 100%;
}

.menu-image img {
    max-width: 80px; 
    margin-left: 20px; 
}

.menu-details {
    flex-grow: 1; 
}
.menu-item a {
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.menu-item span {
    display: block;
    margin-top: 8px;
    color: #FFA500;
    font-weight: 600;
}
